*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html{
    font-size:1px;
}

body{
    display:block;
    background-image: url("image/Background3.gif");
    background-position: center;
    align-items:center;
    justify-content: center;
    height: 100%;
}
p{
    font-size:x-large;
    font-family: Ink Free;
    color: red;
    font-weight: bold;
    text-shadow: 0em 0em 1em greenyellow;
    text-align: center;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
}
.Card{
    width: 150rem;
    height: 220rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:10rem; 
    margin: 5rem;
    transition: 0.6s;
}
#cards_type{
    padding-top:0rem;
    justify-content:space-evenly;
    margin-bottom: 20rem;
}

select{
    border-radius: 3rem;
    margin-left: 45%;
    margin-bottom:10rem;
    border-color: rgb(241, 18, 241);
    border-width: 2rem;
    font-size:medium;
    font-family: Comic Sans MS;
    width: max-content;
}
input{
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:40rem;
    width: 300rem;
    border-radius: 0.625em;
    border-color: rgb(241, 18, 241);
    border-width: 0.3125em;
}
label{
    cursor: pointer;
}
.radio_img{
    height:100rem;
    width: 250rem;
    border-radius:5rem;
    box-shadow: 3rem 3rem 5rem rgb(248, 245, 248);
    margin-top: 5rem;
}
.radioButton{
    height: 20rem;
    width: 20rem;
}


header{
    background-color: rgba(223,253,39,0.8);
    display:none;
    pointer-events: none;
    width: 100%;
    height: 60rem;
}
#Update{    
    display: inline-block;
    background-image: url("image/UpdateButton.jpg");
    width: 50rem;
    height: 50rem;   
    margin-right: 5rem;
    
}
#Exit{
    display: inline-block;
    background-image: url("image/ExitButton.jpg");
    width: 50rem;
    height: 50rem;  
}
#LettersMemoryMatch{
    background-image: url("image/MemoryMatchLetters.jpg");
    width: 170rem;
    height: 60rem;
    margin-left:1%;
    margin-top:0;
}
#claps_image{
    width:150rem;
    height:150rem;
}
.nav_buttons{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;      
    border-radius: 5rem;
    margin-top: 5rem;
}
ul{
    display: flex;
    margin-right: 5rem;
}
#Exit:hover , #Update:hover{
    box-shadow: 2rem 2rem 20rem rgb(56, 54, 53);
}
nav{
    display:flex;
    justify-content:space-between;    
}
h2{
    padding-top:40rem;
    margin-bottom:40rem;
    text-align: center;
    color: #fff;
    font-size: 35rem;
    font-family: Comic Sans MS;
    text-shadow: 5px 3px 5px rgb(230, 69, 28);
}
span{
    text-align: center;
    color: rgb(237, 241, 21);
    font-size: 35rem;
    font-family: Comic Sans MS;
    text-shadow: 5px 3px 5px rgb(230, 69, 28);
}
h3{
    text-align: center;    
    margin-bottom:40rem;
    color: #fff;
    font-size: 30rem;
    font-family: Ink Free;
    text-shadow: 5px 3px 5px rgb(230, 69, 28);
}

.container{
    display: none;
    pointer-events: none;
}
.show{
    display: block;
    pointer-events: auto;
}
.hide{
    display: none;
    pointer-events: none;
}
.showheader{
    display: inline-block;  
    pointer-events: auto;
}
img{
    display: block;
    width: 45%;
    height:45%;
    margin-top: 40rem;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: rgba(166,255,0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 10%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 40rem;
    border-radius: 10rem;
    font-size: 15rem;
    font-weight: 800;    
    cursor: pointer;
}
button:hover{
    background: rgb(19, 241, 149);
    color:rgb(255, 253, 253);
    box-shadow: 0 4px 10px rgb(255,255,255);
}
.flipBack1{
    background-image: url("image/BarajaPokemon.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}
.flipBack2{
    background-image: url("image/BarajaWeb.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}
.error_input{
    border-color: red;
}
.timer{
    font-size:30rem;
    font-family: Forte;
    color:black;
    width: 170rem;
    height: 60rem;
    margin-left:1%;
    margin-top:0;
}
.showAnimation{
    animation: waves 2s linear 0.1s;
}

.disable-div {
    pointer-events: none;
}

.top{
    display: block;
    width: 100%;
}

@keyframes waves{
    0%{
        box-shadow: 0 0 0 0 rgba(174, 231, 67,0.6),0 0 0 0 rgba(174, 231, 67,0.6);
    }
    30%{
        box-shadow: 0 0 0 50rem rgba(174, 231, 67,0),0 0 0 0 rgba(174, 231, 67,0.6);
    }
    65%{
        box-shadow: 0 0 0 50rem rgba(174, 231, 67,0),0 0 0 30rem rgba(174, 231, 67,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(174, 231, 67,0),0 0 0 30rem rgba(174, 231, 67,0);
    }
}

@media (max-width:800px) {
    html{
        font-size:0.7px;
    }
    
    #cards_type{
        flex-direction: column;
    }
    .Card{
        width: 130rem;
        height: 180rem;
        margin:4rem;
    }
    select{
        margin-left: 35%;        
        font-size:small;
    }
    img{
        width: 100%;
        height:100%;
        margin-top: 250rem;
    }
    input{
        width:300rem;
        height:50rem;
    }
}


